{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/pages/post_detail.css' %}">
{% endblock %}

{% block title %}掲示板へ投稿{% endblock %}

{% block content %}

<div class="container">

  <div class="post-detail-title">
    {{post.title}}
  </div>

  <div class="post-detail-head">
    <div class="post-detail-date">
      投稿日:{{ post.pub_date }}
    </div>
  </div>

  <div class="post-detail-body">
    {{ post.body }}
  </div>

  {% include "components/comment_list.html" %}

  <div class="link_to_comment">
    <a href="{% url 'comment_create' post.pk %}">この記事にコメントする</a>
  </div>

  <div class="links-other-articles">
    {% with prev=post.get_previous_by_pub_date %}
      {% if prev %}
        <a href="{% url 'post_detail' prev.pk %}">
          <i class="fas fa-angle-left"></i>
          前の記事
        </a>
      {% endif %}
    {% endwith %}


    {% with next=post.get_next_by_pub_date %}
      {% if next %}
        <a href="{% url 'post_detail' next.pk %}">
          次の記事
          <i class="fas fa-angle-right"></i>
        </a>
      {% endif %}
    {% endwith %}
  </div>


</div>




{% endblock %}
